* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #14274e;
  --main-bg-color: #9ba4b4;
  --main-secondary-color: #394867;
  --main-text-color: #77777;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  color: var(--main-text-color);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1.3fr 0.9fr 0.8fr;
  grid-template-rows: 0.2fr 1.4fr 1.4fr;
  gap: 10px 10px;
  grid-template-areas:
    "header header header header"
    "List-of-gallery gallery-info paintings paintings"
    "List-of-gallery map paintings paintings";
  height: 98vh;
  margin-bottom: 10px;
}
.list-of-gallery {
  grid-area: List-of-gallery;
  overflow: scroll;
  overflow-x: hidden;
  background-color: var(--main-bg-color);
}

.list-of-gallery > h2,
.map > h2,
.paintings > h2 {
  text-align: center;
  padding: 5px;
}
.map > h2,
.paintings > h2 {
  border-bottom: 1px solid black;
}

.gallery-info {
  grid-area: gallery-info;
  background-color: var(--main-bg-color);
}
.gallery-info * {
  padding: 5px;
  text-align: center;
  font-size: larger;
}
.gallery-info .galleryWebsite {
  padding-bottom: 10px;
}
.gallery-info h2 {
  font-size: 25px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.gallery-info a {
  color: var(--main-color);
}
.map {
  grid-area: map;
  background-color: var(--main-bg-color);
}
.map iframe {
  width: 100%;
  height: 100%;
}
.paintings {
  grid-area: paintings;
  background-color: var(--main-bg-color);
}
.header {
  grid-area: header;
  padding: 10px;
  background-color: var(--main-bg-color);
  text-align: center;
}

.gallery-name {
  font-weight: 600;
  color: white;
  padding: 10px;
  margin: 5px;
  background: var(--main-secondary-color);
  cursor: pointer;
}
.gallery-name:hover {
  background-color: var(--main-color);
}

.painting-header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  font-size: large;
  font-weight: 600;
  text-align: center;
  padding-bottom: 5px;
  cursor: pointer;
  margin-right: 15px;
}
.painting-header {
  margin-left: 40px;
  text-align: center;
}
.artist-img > img {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  border-radius: 3px;
  border: 1px solid white;
}
.painting-details * {
  text-align: center;
  font-size: 12px;
  padding: 5px;
}
.painting-content {
  padding: 20px;
  cursor: pointer;
}
.paintings {
  overflow: scroll;
  overflow-x: hidden;
}
.painting-details {
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  background-color: var(--main-secondary-color);
  color: #f1f1f1;
  font-weight: 600;
}

.single-painting-view {
  z-index: 999999;
  display: flex;
  top: 50%;
  left: 50%;
  height: 80vh;
  width: 90%;
  position: absolute;
  background-color: var(--main-bg-color);
  transform: translate(-50%, -50%);
  border: 1px solid var(--main-color);
  border-radius: 5px;
}

.d-none {
  display: none;
}

.pt-5 {
  padding-top: 20px;
}

.mt-5 {
  margin-top: 20px;
}
.single-painting-view .image {
  width: 100%;
}
.single-painting-view * {
  margin-bottom: 5px;
}
.single-painting-view .image img {
  height: 100%;
  object-fit: contain;
  width: 100%;
  padding: 20px;
}
.single-painting-view .description {
  margin-top: 10px;
  width: 100%;
  padding: 20px;
}
.paintingDescription {
  font-weight: 600;
  overflow: scroll;
  overflow-x: hidden;
  height: 200px;
  margin-top: 20px;
}

.close-button {
  padding: 5px;
  background-color: var(--main-secondary-color);
  color: white;
  border-radius: 5px;
}
.close-button:hover {
  background-color: var(--main-color);
}
/* Reference | custom scrollbar styles 
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_scrollbar
*/

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-secondary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}
